shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.wrap-login100{
    width: 430px !important;
}

@media (max-width: 480px) { 
    .flex-sb-m{
        flex-direction: column !important;
    }
 }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .mein p{
    width: 75%;
    
}
.mein{

  z-index: 100;
}
  svg#clouds {
    position: fixed;
    bottom: -220px;
    left: -230px;
    width: 1920px;
  }
