shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.wrap-login100{
    width: 430px !important;
}

@media (max-width: 480px) { 
    .flex-sb-m{
        flex-direction: column !important;
    }
 }